.header {
    display: flex;
width: 583px;
height: 69px;
padding: 12px 25px 12px 27px;
justify-content: center;
align-items: center;
gap: 301px;
flex-shrink: 0;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    /* position: absolute; */
    top: 10px;
    left: 20px;
    z-index: 1;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.horizontal-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.horizontal-menu li {
    margin-right: 20px; 
}

.horizontal-menu li a {
    text-decoration: none;
    color: #128546;
    transition: background-color 0.3s ease; 
}

.horizontal-menu li a:hover {
    background-color: #f2f2f2; 
    color: hsl(129, 72%, 31%); 
}

h3 {
    color: #128546;
font-family: Urbanist;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
z-index: 3;
}

h1 {
text-align: center;
font-family: Urbanist;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h4 {
    color: #128546;
font-family: Urbanist;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}

.start h1 {
    content: "Where Love Transforms, Hope Abounds, and Faith Flourishes";
    color: rgb(0, 0, 0);
}

.start h1::Love {
    color: #128546;
}

.start h1::Hope(2) {
    color: #128546;
}

.start h1::Faith(4) {
    color: #128546;
}

.oval-container {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    margin-left: 20px;
    margin-bottom: 40px;
  } 
  
  .oval-container h4 {
    color: #128546;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
display: flex;
align-items: center;
/* justify-content: space-between; */
/* max-width: 800px; */
width: 100%;
}

.img-container img {
    width: 50x;
    height: 50px;
    object-fit: cover;
    border-radius: 0;
}

.p {
    width: 333px;
    color: #000;

font-family: Urbanist;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.section-one {
    display: flex;
    /*flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 96px;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}

.section-one img {
    width: 526px;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.text-content {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: start;
    /*flex-grow: 1; */
    text-align: start;
    padding: 20px;
}

.oval-container-alternative {
    /* position: relative;
    width: 200px;
    height: 50px; */
    background-color: #128546;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .btn-link {
        border: none;
        padding: 16px 16px;
        /* color: white; */
        margin: 0;
        }
        
    .text-base {
        color: white;
        text-decoration: none;
        text-align: center;
    font-size: 16px;
    font-weight: bold;
    
}

.text-sec {
    color: #128546;
}

.section-two {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 300;
    background-color: #128546;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section-two img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
    background-color: #128546;
}

.section-two.text-content {
    flex-grow: 1;
    margin-left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section-two.text-content h2 {
    order: 1;
    margin-top: 0;
}

.section-two.text-content p {
    order: 2;
    margin-top: 10px;
}

@media (min-width: 600px) {
   .section-two {
        flex-direction: row;
    }

   .section-two img {
        order: 2;
        margin-left: 20px;
        margin-right: 0;
    }

   .section-two.text-content {
        order: 1;
        margin-left: 0;
        text-align: left;
    }
}

.section-three {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/Images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-three h2 {
    margin: 0;
}

.section-three p {
    margin: 0;
}

.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 20px;
    background-image: url("/Images/background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #128546;
    color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.square:nth-child(1) {
    background-color: hsl(305, 86%, 45%); 
}

.square:nth-child(2) {
    background-color: hsl(120, 51%, 40%); 
}

.square:nth-child(3) {
    background-color: hsl(25, 61%, 43%); 
}

.square:nth-child(4) {
    background-color: rgb(53, 137, 193); 
}

.square p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #f2f2f2;
}

.additional-content-wrapper {
    display: flex;
    justify-content: center;
    background-image: url("/Images/background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.additional-content {
    display: flex;
    align-items: center;
    margin: 20px;
}

.additional-content img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

.additional-content.text-content {
    margin-top: 100px;
}

.section-four-wrapper {
    display: flex;
    justify-content: center;
    background-color: #128546;
    color: #f2f2f2;
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #f2f2f2;
}

.section-four img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

.section-four.text-content {
    flex-grow: 1;
    margin-left: 0;
    color: #f2f2f2;
    text-align: left;
}

@media (min-width: 600px) {
    .section-four {
           flex-direction: row;
       }
   
    .section-four img {
       order: 2;
       margin-left: 20px;
       margin-right: 0;
     }
   
    .section-four.text-content {
       order: 1;
       margin-left: 0;
       text-align: left;
       color: #f2f2f2;
     }
}

.section-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
    padding: 20px;
}

.section-five h4 {
    margin: 0;
}

.section-five h1 {
    margin: 10px 0;
}

.section-five p {
    margin: 0;
}

.section-six-wrapper {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2; 
    padding: 20px;
    flex-wrap: wrap;
}

.section-six {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 800px; 
    margin: 0 - 20px;
}

.section-six.first-section {
    order: 1;
    flex: 1 0 50%;
    margin-bottom: 20px;
}

.section-six.second-section {
    order: 2;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

@media (min-width: 600px) {
    .section-six {
        flex-direction: row;
    }

  .section-six.second-section {
        order: 1;
        margin-left: 0;
    }

  .section-six.first-section {
    order: 2;
    margin-left: 20px;
    margin-right: 0;
    }
}

footer {
    background-color: #c7c7c7;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    flex: 1;
}

.footer-left h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.footer-left p {
    margin: 10px 0;
    font-size: 14px;
}

.footer-left img {
    margin-right: 10px;
}

.logo2 {
    margin-top: 20px;
}

footer {
    background-color: #cec8c8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-left {
    flex: 1;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-right h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.footer-right nav {
    margin-top: 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.footer-right nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-right nav ul li {
    margin-left: 10px;
}

.footer-right img {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 0;
}

.footer-right.social-media-icons {
    display: flex;
    justify-content: flex-end;
}

.footer-right.social-media-icons img {
    margin-left: 0;
    margin-right: 10px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding-inline: 2rem;
    padding-block: 1rem; */
}